input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-flex;
  padding: 6px 12px;
  cursor: pointer;
}

.automatic-upload{
  margin: 2rem;
  justify-content: center;
  align-content: center;
  display: flex;
}

.automatic-label{
  text-align: center;
  padding-top: 0.2rem;
  padding-left: 0.5rem;
  vertical-align: center;
}