.fixed-header{
    width: 100%;
    position: relative;
    background: #333;
    padding: 10px 0;
    color: rgb(226, 223, 219);
    text-align: center;
}

body {
    color: #eee;
    background: #121212;
    font-family: Roboto,Noto Naskh Arabic UI,Arial,sans-serif;
}

body a {
    color: #809fff;
}