.fixed-header{

    &-left {
        position: absolute;
        right: 2%;
        border-radius: 5px;
        top: 50%;
        width: 2rem;
        height: 2rem;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    &-left:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-40%);
        cursor: pointer;
    }

    &-left:active {
        box-shadow: none;
        transform: translateY(-45%);
    }

    width: 100%;
    justify-content: center;
    position: relative;
    display: flex;
    background: #333;
    padding: 10px 0;
    color: rgb(226, 223, 219);
    text-align: center;
}

body {
    color: #eee;
    background: #121212;
    font-family: Roboto,Noto Naskh Arabic UI,Arial,sans-serif;
}

body a {
    color: #809fff;
}
